# Comment what you want to export
/"Scoring Engine" export-ignore

# /examples/exe export-ignore
/examples/py export-ignore

.gitattributes export-ignore
README.md export-ignore

forensics-template.txt export-ignore
# scorpio.ico export-ignore
scorpio.png export-ignore
