altgraph==0.17.3
certifi==2023.5.7
charset-normalizer==3.2.0
idna==3.4
pefile==2023.2.7
pyinstaller==5.13.0
pyinstaller-hooks-contrib==2023.5
pywin32==306
pywin32-ctypes==0.2.2
requests==2.31.0
urllib3==2.0.3
